<?xml version="1.0" encoding="utf-8" ?>
<Root>
  <Page Name="default">
    <Message>
      <![CDATA[Привет! Это бот. Из какой категории хочешь игру?]]>
    </Message>
    <Tag TagName="Игры на знакомство" PageName="meet" />
    <Tag TagName="Игры на сплочение" PageName="team" />
    <Tag TagName="Игры с залом" PageName="hall" />
    <Tag TagName="Игры-шутки" PageName="joke" />
  </Page>
  <Page Name="meet">
    <Message>
    <![CDATA[О какой игре рассказать?]]>
    </Message>
    <Tag TagName="Снежный ком" PageName="Снежный ком" />
    <Tag TagName="Одеяло" PageName="Одеяло" />
    <Tag TagName="К категориям" PageName="default" Color="BLUE" />
  </Page>
  <Page Name="team">
    <Message>
      <![CDATA[О какой игре рассказать?]]>
    </Message>
    <Tag TagName="Путаница" PageName="Путаница" />
    <Tag TagName="Сидячий круг" PageName="Сидячий круг" />
    <Tag TagName="Прогулка слепых" PageName="Прогулка слепых" />
    <Tag TagName="К категориям" PageName="default" Color="BLUE" />
  </Page>
  <Page Name="hall">
    <Message>
      <![CDATA[О какой игре рассказать?]]>
    </Message>
    <Tag TagName="Пою я бум" PageName="Пою я бум" />
    <Tag TagName="У тети Моти" PageName="У тети Моти" />
    <Tag TagName="К категориям" PageName="default" Color="BLUE" />
  </Page>
  <Page Name="joke">
    <Message>
      <![CDATA[О какой игре рассказать?]]>
    </Message>
    <Tag TagName="Тише едешь..." PageName="Тише едешь" />
    <Tag TagName="Себе – соседу" PageName="Себе соседу" />
    <Tag TagName="Ручеёк" PageName="Ручеек" />
    <Tag TagName="К категориям" PageName="default" Color="BLUE" />
  </Page>

  <Page Name="Снежный ком">
    <Message>
      <![CDATA[Участники берутся за руки, образуя круг. Начинает игру первый игрок, называя свое имя. Второй участник по кругу повторяет имя первого участника и говорит свое. Третий участник повторяет имена первых двух и называет свое имя. И так игра длится до тех пор, пока последний человек не назовет все имена, включая свое.]]>
    </Message>
    <Tag TagName="Одеяло" PageName="Одеяло" />
    <Tag TagName="К категориям" PageName="default" Color="BLUE" />
  </Page>
  <Page Name="Одеяло">
    <Message>
      <![CDATA[Участники делятся на две команды, располагаясь, друг напротив друга. Между ними натянуто одеяло. С каждой команды по одному человеку подсаживаются ближе к одеялу. Как только одеяло опускают, необходимо успеть произнести имя того, кто сидит напротив. Кто быстрее назвал - забирает к себе в команду игрока. Побеждает та команда, которая " перетянет" к себе больше игроков, т. е. та команда, которая знает больше имён.]]>
    </Message>
    <Tag TagName="Снежный ком" PageName="Снежный ком" />
    <Tag TagName="К категориям" PageName="default" Color="BLUE" />
  </Page>

  <Page Name="Путаница">
    <Message>
      <![CDATA[Участники образуют круг и берутся за руки, причем руки одного человека должны быть сцеплены с руками разных людей. Задача: не расцепляя рук, распутать узел и образовать круг. 
Это упражнение дает возможность участвовать всем в выработке стратегии.]]>
    </Message>
    <Tag TagName="Сидячий круг" PageName="Сидячий круг" />
    <Tag TagName="Прогулка слепых" PageName="Прогулка слепых" />
    <Tag TagName="К категориям" PageName="default" Color="BLUE" />
  </Page>
  <Page Name="Сидячий круг">
    <Message>
      <![CDATA[Команда формирует тесный круг (плечи касаются). После этого попросите ребят повернуться на 90 градусов направо. Задание: Нужно медленно сесть на колени друг к другу и рукой коснуться плеча, находящегося сзади человека. 
Завершите это упражнение на высокой ноте, смеясь и хлопая всем.]]>
    </Message>
    <Tag TagName="Путаница" PageName="Путаница" />
    <Tag TagName="Прогулка слепых" PageName="Прогулка слепых" />
    <Tag TagName="К категориям" PageName="default" Color="BLUE" />
  </Page>
  <Page Name="Прогулка слепых">
    <Message>
      <![CDATA[Пусть каждый участник закроет глаза повязкой. Когда все глаза закрыты, расскажите ребятам, что мы собираемся в путешествие по неприкосновенной земле, которой не может коснуться наш взгляд. Попросите положить правую руку на плечо впередистоящего. Медленно начните путешествие по выбранному маршруту, включая залезание на пеньки, возвышенности, пролезание под низко нависшими деревьями и ветками, протискивание между деревьями и т.д. Финишируйте на каком-нибудь тесном (но безопасном!) месте. 
Подсказка вожатому: выполнять это упражнение следует в полном молчании. Следует выбрать знак для обозначения опасности (пожимание).]]>
    </Message>
    <Tag TagName="Путаница" PageName="Путаница" />
    <Tag TagName="Сидячий круг" PageName="Сидячий круг" />
    <Tag TagName="К категориям" PageName="default" Color="BLUE" />
  </Page>

  <Page Name="Пою я бум">
    <Message>
      <![CDATA[Ведущий просит повторять за ним слова и движения. <Пою я бум, чика-бум> (на первое слово-хлопок в ладоши, на второе хлопок по коленкам, потом движения повторяются). Слова: Чика-бум - крутая песня Будем петь её все вместе. Если нужен классный шум, пойте с нами чика-бум. Пою я бум, чика-бум. Пою я бум, чика-рака, чика-рака, чика бум. О-е, ага, еще раз веселей. Возможные варианты последнего слова: громче, быстрее, женственнее, мужественнее, протяжнее и др.]]>
    </Message>
    <Tag TagName="У тети Моти" PageName="У тети Моти" />
    <Tag TagName="К категориям" PageName="default" Color="BLUE" />
  </Page>
  <Page Name="У тети Моти">
    <Message>
      <![CDATA[У тети Моти четыре сына, четыре сына у тети Моти, они не ели, они не пили, а только пели один куплет (с начала ритмично двигают одной рукой, потом другой и так постепенно доходим до всего тела, включая язык). При этом постоянно повторяем текст игры.]]>
    </Message>
    <Tag TagName="Пою я бум" PageName="Пою я бум" />
    <Tag TagName="К категориям" PageName="default" Color="BLUE" />
  </Page>

  <Page Name="Тише едешь">
    <Message>
      <![CDATA[Игроки становятся в одну линию. От них на расстоянии 20 и более метров стоит ведущий. Ведущий произносит фразу: «Тише едешь - дальше будешь, раз, два, три, стоп!». Можно счет продолжать, а можно останавливаться и сразу. Каждый заход варианты менять. Главное помнить -  что последним словом должно быть: «стоп». Затем быстро оборачивается. Бегущие к ведущему должны замереть на месте. Тот, кто не успел вовремя остановиться, возвращается к стартовой черте. Первый, кто добежал до ведущего, сам становится им.]]>
    </Message>
    <Tag TagName="Себе – соседу" PageName="Себе соседу" />
    <Tag TagName="Ручеёк" PageName="Ручеек" />
    <Tag TagName="К категориям" PageName="default" Color="BLUE" />
  </Page>
  <Page Name="Себе соседу">
    <Message>
      <![CDATA[Участники становятся в круг. Один водит, находится в кругу. Участники круга левую руку держат ладонью вверх, правую – соединяя все пальцы, как для того чтобы посалить, держат концами пальцев вниз, как раз здесь находится монетка. Монетка передается по кругу правой рукой одного участника в левую руку другого участника который стоит справа от первого. Все участники круга повторяют движение передачи монетки вне зависимости есть она у них или нет. Каждый участник правой рукой сначала дотрагивается до своей левой со словом «себе», а потом до левой руки соседа имитируя передачу монеты со словом «соседу». Все хором произносят эти слова «себе-соседу» и одновременно повторяют движения имитирующие передачу монеты. Участник в кругу по началу закрывает глаза и поворачивается вокруг своей оси чтобы не видеть где находится монетка, а когда она уже ходит по кругу, ему нужно «поймать» монетку и у кого окажется она, встает в круг на место водящего.

Инвентарь: Монетка/колечко/пуговица.]]>
    </Message>
    <Tag TagName="Тише едешь..." PageName="Тише едешь" />
    <Tag TagName="Ручеёк" PageName="Ручеек" />
    <Tag TagName="К категориям" PageName="default" Color="BLUE" />
  </Page>
  <Page Name="Ручеек">
    <Message>
      <![CDATA[Играющие встают друг за другом парами, обычно мальчик и девочка, юноша и девушка, берутся за руки и держат их высоко над головой. Из сцепленных рук получается длинный коридор. Игрок, кому пара не досталась, идет к «истоку» ручейка и, проходя под сцепленными руками, ищет себе пару.

Взявшись за руки, новая пара пробирается в конец коридора, а тот, чью пару разбили, идет в начало «ручейка». И проходя под сцепленными руками, уводит с собой того, кто ему симпатичен. Так «ручеек» движется — чем больше участников, тем веселее игра, особенно весело проводить под музыку.]]>
    </Message>
    <Tag TagName="Тише едешь..." PageName="Тише едешь" />
    <Tag TagName="Себе – соседу" PageName="Себе соседу" />
    <Tag TagName="К категориям" PageName="default" Color="BLUE" />
  </Page>
  
</Root>